#!/usr/bin/env bash

set -eu

case "{{ .distro }}" in

debian)

# Debian Packages Install Commands


;;

arch)

# Arch Packages Install Commands


;;

opensuse*)

# openSUSE Packages Install Commands


;;

esac
